@page {
	size: 6in 9in;
	font-family: "GaramondNo8";    
	@footnote {
		margin-top: 10pt;		
	}
}

@page:first{
  @bottom-right {  	
  	content: none;
  }	
}

@page:left {
  margin-left: 0.75in;
  margin-right: 1in;
  margin-top: 0.75in;
  margin-bottom: 0.75in;  

  @bottom-left {
  	margin: 10pt 0 30pt 0;    
  	border-top: .25pt solid #666;    
    font-size: 9pt;
    color: #333;    
    width: 100%;
    content: counter(page);    
  }

  @top-center {
    content: "Granny's Great-granny's Tiara";
    margin: 30pt 0 10pt 0;    
    font-size: 8pt;
  }
}

@page:right {
  margin-left: 1in;
  margin-right: 0.75in;
  margin-top: 0.75in;
  margin-bottom: 0.75in;  

  @bottom-right {  	
  	margin: 10pt 0 30pt 0;    
    border-top: .25pt solid #666;    
    font-size: 9pt;
    color: #333;    
    width: 100%;
    content: counter(page);
  }

  @top-center {
    content: string(chaptertitle);    
    font-size: 8pt;
  }
}

body {
    font-family: "GaramondNo8";    
    margin: 0.2em;
	text-align: justify;
	font-size: 10pt;

	counter-reset: chapternum;	
}


.header_credit {
	margin-top: 2in;	
	text-align: center;
}

.header_quote {	
	text-align: left;
	font-style: italic;
}

ul.header_quote li:before {
	content: "—";	
}

.bottom_block {
	position: absolute;
  	bottom: 10px;
  	text-align: center;

}

#titlepage, #colophon {
	text-align: center;
}

#colophon {
	page-break-before: always;
}

h2 {
	page-break-before: right;
	page-break-after: avoid;
	page-break-inside: avoid;
	string-set: chaptertitle content(); 	
	font-weight: normal;	
	text-align: center;
}

h3 {
	page-break-after: avoid;
	page-break-inside: avoid;
	font-weight: normal;
	margin-bottom: 0.2em;
	margin-top: 1em;
}

h4 {
	page-break-after: avoid;
	page-break-inside: avoid;
	font-style: italic;
	font-weight: normal;
	margin-top: 0.5em;
	margin-bottom: 0.2em;
}

p {

}

.newpage {
	page-break-before: right;
}

.quote {
	font-style: italic;
}

a {
	color: #000000;
	text-decoration: none;
}

ul.toc a::after {
	float: right;
  	content: target-counter(attr(href), page);
}

ul.toc li:before {
	content: none;
}

ul {
	position: relative;
	list-style: none;
	margin-left: 0;
	padding-left: 1.2em;
}

ul li:before {
	content: "»";
	position: absolute;
	left: 0;
	font-weight: bold;
}

.fotnote_link {
}