@page {
	size: 210mm 297mm;
	font-family: "GaramondNo8";    
	margin: 0mm;
}

body {
    font-family: "GaramondNo8";    
    margin: 0em;
	text-align: justify;
	font-size: 10pt;

	counter-reset: chapternum;	
	counter-reset: footnum;
}


table {
	page-break-before: always;
}

td {
	width: 93.5mm;
	height: 137mm;
	border: 1px solid black;
	vertical-align: top;
	padding: 5mm;
}

h1 {
	text-align: center;
	font-size: 14pt;
}

h2 {
	font-size: 11pt;
	margin: 0pt;
}

p {
	font-size: 10pt;
	margin: 4pt;
}

.actdesc {
	margin-bottom: 3mm;
}

.actlength {
	display: inline-block;
	margin: 0mm;
	margin-left: 10mm;	
	width: 30mm;	
}

.actend {
	display: inline-block;
	margin: 0mm;	
}